<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="eu.kanade.tachiyomi.ANIMESOURCE_FACTORY"
            android:value="eu.kanade.tachiyomi.animeextension.es.shadowrangers.ShadowRangersFactory" />
    </application>

</manifest>
